<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <nav>
        <!-- Checking for user and allow seed/add/ items -->
        <a href="/">HOME</a>
        <% if (isAdmin) { %>
        <div class="admin-container">
            <h3 class="admin">Admin: <strong><%=user.username%></strong> </h3>
            <form action="/admin?_method=DELETE" method="POST" class="two columns">
                <input type="submit" value="Log Out" class="button" />
            </form>
        </div>
        <a href="/products/new">Add New Item</a>
        <a href="/products/seed">SEED</a>
        <% } else { %>

        <% } %>

        <% if (!isAdmin) { %>
        <% if(user) {%>
        <div class="admin-container">
            <h3 class="admin">Welcome <strong><%=user.username%></strong> </h3>
            <form action="/sessions?_method=DELETE" method="POST" class="two columns">
                <input type="submit" value="Log Out" class="button" />
            </form>
        </div>
        <%} else {%>
        <ul>
            <li> <a href="/sessions/new">Log In</a></li>
            <li> <a href="/users/new">Sign Up</a></li>
        </ul>
        <%}}%>
    </nav>
    <div class="welcome">
        <div class="opacity-title"></div>
        <h2 class="title">Welcome</h2>
        <div class="log-container">
            <a href="/sessions/new" class="log-in">Log In</a>
            <a href="/users/new" class="sign-up">Sign UP</a>
        </div>
    </div>
    <h1 class="our-selection">Our Selection</h1>
    <div class="container">
        <ul class="wine-list">
            <% for (let i = 0; i < products.length; i++){ %>
            <li class="wine">
                <a href="/products/<%=products[i]._id%>">
                    <img height="250px" src="<%= products[i].img%>" alt="">
                </a>
                <a href="/products/<%=products[i]._id%>" class="detail"> <%= products[i].name %></a>
                <a href="/products/<%=products[i]._id%>" class="detail"> <%= products[i].winery %></a>
                <p class="detail price"> $<%=products[i].price%></p>
            </li>
            <%} %>
        </ul>
    </div>
    <!-- footer -->
    <%- include ('./partials/footer.ejs') %>

</body>

</html>