<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
    <link rel="stylesheet" href="/css/show.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <nav>
        <a href="/"> HOME </a>
        <% if (isAdmin) { %>
        <div class="admin-container">
            <h3 class="admin">Admin: <strong><%=user.username%></strong> </h3>
            <form action="/admin?_method=DELETE" method="POST" class="two columns">
                <input type="submit" value="Log Out" class="button" />
            </form>
        </div>
        <form action="/products/<%=product.id%>?_method=delete" method="POST">
            <input type="submit" value="Remove From List" class="delete-item">
        </form>
        <a href="/products/<%=product.id%>/edit">Edit Item</a>
        <% } else { %>

        <% } %>
        <% if (!isAdmin) { %>
        <% if(user) {%>
        <div class="admin-container">
            <h3 class="admin">Welcome <strong><%=user.username%></strong> </h3>
            <form action="/sessions?_method=DELETE" method="POST" class="two columns">
                <input type="submit" value="Log Out" class="button" />
            </form>
        </div>
        <%} else {%>
        <ul>
            <li> <a href="/sessions/new">Log In</a></li>
            <li> <a href="/users/new">Sign Up</a></li>
        </ul>
        <%}}%>
    </nav>

    <div class="container">
        <div class="image-container">
            <img src="<%=product.img%>" alt="<%=product.img%> image" class="image">
        </div>
        <div class="price-container">
            <h3><%=product.ratings%> <span class="rating"><%=product.numberOfRatings%> ratings</span></h3>
            <h4 class="name"><%=product.name%></h4>
            <h5 class="price">$<%=product.price%></h5>
            <% if (product.quantity <= 0){ %>
            <h3 class="sold-out">OUT OF STOCK!</h3>
            <%} else { %>
            <h5 class="quantity">In Stock: <%=product.quantity%> btl(s)</h5>
            <a href="/products/<%=product.id%>/buy" class="buy">Buy</a>
            <%} %>
        </div>
        <div class="place-container">
            <h5 class="winery"><%=product.winery%></h5>
            <h5 class="region"><%=product.type%> <span class="from">from </span> <span><%=product.region%>,
                    <%=product.country%></span></h5>
        </div>
        <div class="more-information">
            <h5>Grapes:</h5>
            <p class="grapes"><%=product.grapes%></p>
            <h5>Notes:</h5>
            <p class="description"><%=product.description%></p>
        </div>
    </div>
    <!-- comments Section -->
    <div class="add-comment-container">
        <form action="/products/<%=product.id%>/comment" method="POST">
            <label for="comment">Write a Review</label>
            <textarea name="comments" id="comment" cols="30" rows="7"></textarea>
            <input type="submit" value="Post">
        </form>
    </div>
    <div class="all-comments-container">
        <ul class="comment-list">
            <% for (let i = 0; i < comment.length; i++){ %>
            <li class="single-comment">
                <div class="user-icon"></div>
                <h3 class="username-comment"><%=comment[i].username%></h3>
                <%if(isAdmin){%>
                <form action="/products/comment/<%=comment[i].id%>?_method=delete" method="POST">
                    <input type="submit" value="Delete" class="delete-comment">
                </form>
                <%} else if(user) {
                    if(user.username === comment[i].username){%>
                <form action="/products/comment/<%=comment[i].id%>?_method=delete" method="POST">
                    <input type="submit" value="Delete" class="delete-comment">
                </form>
                <%}
                }%>

                <p class="user-comment"><%=comment[i].comments%></p>

            </li>
            <%} %>
        </ul>
    </div>

    <!-- footer -->
    <%- include ('./partials/footer.ejs') %>
</body>

</html>